/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;

#FB8F1D,#1ABE84, #7D7987*/

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;  
}
h1{
  font-family: 'Playfair Display', serif;
  font-size: 80px;
}
h2{
    font-family: 'Playfair Display', serif;
  font-size: 40px;
}

a{
     text-decoration: none;
     font-size: 15px;
     &:hover {
      text-decoration: underline;
    }
 }

 @mixin button {
    padding:1vh 1.2em;
    border-radius: 5px;
    border:1px solid #FB8F1D;
 }
 .Home{
  margin:5vh 5vw;
}
/* ####################### HEADER ########################### */
header{
nav{
  font-size: 18px;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .list {
    display: flex;
    list-style: none;
    align-items: center;
    li{
      margin: 0.3em;
      }
    li:nth-of-type(5){
      @include button;
      background: none;
      &:hover {
        background: #FB8F1D;
        color: white; 
        border-color: #FB8F1D;
      }
    }
    li:last-of-type{
      @include button;
      background: #FB8F1D;
      color:whitesmoke;
      &:hover {
        background: white;
        color: #FB8F1D; 
      }
    }
    }
    }
  }

  /* ################### HERO SECTION ####################### */
.HeroSection{
    margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
p:nth-of-type(1){
  font-size: 25px;
  margin:0;
  padding:0;
}
p:nth-of-type(2){    
margin:0px;
  padding:0;
}
  article:nth-of-type(1){
    margin: 2em 0 1em;
    .select{
      display: flex;
      select {
        width:180px;
        text-align: left;
    padding: 1em 3em;
    border-radius: 5px;
     }
     select:nth-of-type(1){
         margin-right: 1em;
     }
    }
    div{
        select{
           width:180px;
           text-align: left;
       padding: 1em 3em;
       border-radius: 5px;
        }
        select:nth-of-type(1){
            margin-right: 1em;
        }
    }
    button {
      margin-top: 2em;
     @include button;
      background: #FB8F1D;
      color:whitesmoke;
      font-size: 16px;
      &:hover {
        background: white;
        color: #FB8F1D; 
      }
     }
 }
 article:nth-of-type(2){
    margin-left: 4em;
 }
}
  

/* ############ Home Section & About Section */
.HomeArticle{
        margin:20vh 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        article{
            margin-left: 5vw;
            p{
                color:#7D7987;
                line-height: 25px;
                margin:1em 0 2em 0;
            }
            button{
                @include button;
                background: #FB8F1D;
                color: whitesmoke;
                font-size: 16px;
                &:hover {
                  background: white;
                  color: #FB8F1D; 
                }
            }
        }
    }

/* ################### PARTNER ######################## */
.partner{
    width: 75vw;
    display:flex;
    justify-content: space-between;
    align-content: center;
    article{
        padding:1em 0;
        align-self:center;
        justify-self: center; 
        div{
            width:15vw;
            margin-right: 1vw;           
        }
        p:nth-of-type(1){
          margin-top: 1vh;
            width:35vw;
            line-height: 25px;
        }
        p:nth-of-type(2){
          margin-top: 2vh;
            font-size:18px;
            font-weight: bold;
        }
        p:nth-of-type(3){
          margin-top: 1vh;
            font-size:13px;
        }
    }
  div{
      img{
        border-radius: 15px;
      }
      
  }
}
.partnerimages{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
    article{
      margin-top: 5vh;
    div {
      text-align: center;
      width:15vw;
    img{
          height: 30vh;
    }
     }
      h3{
        margin:1vh 0;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        width: 18vw;
      }
      p {
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 1vh;
      }
    }
}

/* ###################### Destination ################### */
.destinationImages {
  margin-top: 2em;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; 
  div {
    position: relative; 
    width: 150px; 
    img {
      border-radius: 10px;
    }
    div {
      position: absolute; 
      bottom: -20px; 
      background: white; 
      padding: 5px; 
      border-top-right-radius: 5px; 
      }
  }
}
/* ###################### FOOTER ##################### */
footer{
    padding-top: 3em;
    background: #F9F9FB;
    font-size: 15px;
    section:nth-of-type(1){
      margin-bottom: 5vh;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 0.5em;
        article:nth-of-type(1){
          padding:1em;
          margin-left: 4vw;
          align-self: center;
          justify-self: center;
              div{
              margin-bottom: 2em;
              }
              p{
                width: 30vw;
              }
        }
      }
        p{
            color:#7D7987;
            line-height: 25px;
        }
        h2{
            font-size: 20px;
            margin-bottom: 2vh;
        }
    }
    .social{
        border-top: 1px solid #7D7987;
        width: 90%;
        margin: 1vh auto;
        display:flex;
        justify-content: center;
        p{
          margin:1em 0.4em;
        }
    }




